body {
    background-image: url("https://raw.githubusercontent.com/hamidamaqsoudi/github.io/main/img/background.png");
    border-image-repeat:repeat;
}
h1{
    color:indigo;
}
#banner {
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/hamidamaqsoudi/github.io/main/img/banner.png")
}
