body {
    background-image: url("https://raw.githubusercontent.com/hamidamaqsoudi/github.io/main/img/background.png");
    border-image-repeat:repeat;
}
h1 {
    text-align: center;
    text-shadow: 2px 2px gray; 
    color:black;
    text-align:center;
    margin-top:90px;
}
#banner {
border-image-width:

}

#container {
   align-content:center;
   height:900px;
   width:700px;
   background-color:antiquewhite;
}
