body {
    background-image: url("https://raw.githubusercontent.com/hamidamaqsoudi/github.io/main/img/background.png");
    border-image-repeat:repeat;
}
h1 {
    text-align: center;
    text-shadow: -2px 2px gray; color:black;
}
#banner {
    position: absolute;

}
