body{
  background-color: white;
  font-family: Georgia,Garamond,serif;
  color: #404040;
  font-size:11pt;
  background-image:url("silverware.jpg");
  background-repeat: repeat;

}
h1{
  color: #A4A400;
  font-family: Lucida Sans Unicode, Helvetica, Arial,sans-serif;
  font-size: 22pt;
  text-align: center;
  text-decoration: underline;
  letter-spacing: .25rem;}
  h1 span{
    background-color: #F0F0F0;

  }
h2{
  color: #A4A400;
  font-family: Lucida Sans Unicode, Helvetica, Arial;
  font-size: 18;
  text-decoration: underline;
  letter-spacing: .25rem;}

}
blockquote{
  font-style: italic;
  background-color: #FFFFA8 ;
}
ul {
  list-style-image: url("pie_icon.gif");
}
.links{
  color: #A4A400 ;
}
.underline{
  text-decoration: underline;
}
.deletedWord{
  text-decoration:line-through;
}
.rightAlign{
  text-align: right;
}