
body {
    border: 2px green solid;
    font-family: Verdana;
    font-size: medium;
    height: 400px;
    width: 900px;
    margin-left:200px;
}

.container {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}



.box {
    flex: 50%;
    padding: 20px;
}

#task {
    padding-right: 100px;
    margin: 5px;
}

#btn1, #btn2 {
    padding-left: 100px;
    margin: 5px;
    padding-right: 100px;
}

#tasks {
    padding-left: 0px;
    margin: 5px;
}

#valid {
    float: right;
}


#header {
    color: green;
    padding-left: 10px;
}